USE [TestUsers]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/6/2015 10:21:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Inactive] [bit] NOT NULL,
	[AddedOn] [datetimeoffset](7) NOT NULL,
	[ChangedOn] [datetimeoffset](7) NULL,
	[FirmName] [nvarchar](80) NOT NULL,
	[City] [nvarchar](20) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[PartnerID] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Partner]    Script Date: 10/6/2015 10:21:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[PartnerID] [int] NOT NULL,
	[PartnerGUID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ChangedOn] [datetime] NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[PartnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 10/6/2015 10:21:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EmailAddress] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[AddedOn] [datetimeoffset](7) NOT NULL,
	[ChangedOn] [datetimeoffset](7) NOT NULL,
	[Inactive] [bit] NOT NULL,
	[IsAdministrator] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_PartnerID]  DEFAULT (NULL) FOR [PartnerID]
GO
ALTER TABLE [dbo].[Partner] ADD  CONSTRAINT [DF_Partner_PartnerGUID]  DEFAULT (newid()) FOR [PartnerGUID]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_InActive]  DEFAULT ((0)) FOR [Inactive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsAdministrator]  DEFAULT ((0)) FOR [IsAdministrator]
GO
ALTER TABLE [dbo].[User]  WITH NOCHECK ADD  CONSTRAINT [FK_User_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
ON UPDATE CASCADE
ON DELETE CASCADE